.wrap{
	border:solid 1px aqua;
	margin-top: 50px;
	padding-bottom: 30px;
}
.wrap h1{
	text-align: center;
	color: aqua;
}
h3,li{
	margin-left: 50px;
}
li{
	padding:20px;
	list-style: none;
}
label{
	font-size: 20px;
}
input{
	margin-left: 60px;
	padding: 5px;
	background: rgba(34,183,222,.5);
}
#email{
	margin-left: 100px;
}
#pwd{
	margin-left: 70px;
}
#cpwd{
	margin-left: 0px;
}
#female,#male,#tc{
	background-color: rgba(34,183,222,.5);
	padding: 1em;
}

p{
	margin-left: 100px;
}
#tc{
	margin-left: 10px;
}
#submit{
	margin-left: 400px;
}
body{
	background: url(back.jpg);
}