<div class="container">
    <div fxLayout="row" fxLayoutAlign="start center" class="content" fxLayout.xs="column" fxLayout.sm="column">
        <a type="button" (click)="drawer.toggle()" class="btn btn-default" style="font-size:20px">view Component(Toggle here)</a>
        <div class="blocks" fxFlex = "20%"></div>
        <div *ngFor="let event of events" >
        <a  [routerLink]="['/events/', event.id]" routerLinkActive="active" change fxFlex = "20%" style="font-size:20px;padding-right: 200px;">{{event.name}}</a>
        </div>
       
      </div>
    </div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" style="background:#ca7171">
        <button (click)="togglebtn()" mat-raised-button class="btn btn-default">
            {{showFiller ? 'Hide' : 'Show'}} Components
          </button>
      <div *ngIf="showFiller" >
        <h3>Form Controls </h3>
        <ul>
          <li>Autocomplete</li>
          <li>Checkbox</li>
          <li>Datepicker</li>
          <li>Form field</li>
          <li>Input</li>
          <li>Radio button</li>
          <li>Select</li>
          <li>Slider</li>
          <li>Slide toggle</li>
        </ul>
        <h3>Navigation </h3>
        <ul>
          <li>Menu</li>
          <li>Sidenav</li>
          <li>Toolbar</li>
        </ul>
        <h3>Layout </h3>
        <ul>
          <li>Card</li>
          <li>Divider</li>
          <li>Expansion Panel</li>
          <li>Grid list</li>
          <li>List</li>
          <li>Stepper</li>
          <li>Tabs</li>
          <li>Tree</li>
        </ul>
        <h3>Buttons & Indicators </h3>
        <ul>
          <li>Button</li>
          <li>Button toggle</li>
          <li>Badge</li>
          <li>Chips</li>
          <li>Icon</li>
          <li>Progress spinner</li>
          <li>Progress bar</li>
          <li>Ripples</li>
        </ul>
        <h3>Popups & Modals </h3>
        <ul>
          <li>Bottom Sheet</li>
          <li>Dialog</li>
          <li>Snackbar</li>
          <li>Tooltip</li>
        </ul>
        <h3>Data Table </h3>
        <ul>
          <li>Paginator</li>
          <li>Sort header</li>
          <li>Table</li>
        </ul>
  
      </div>
      
    </mat-drawer>
  
    <div style="text-align:center">
        <h3>&quot;{{currentevent.name}}&quot; </h3>
        <h1>{{currentevent.title}}</h1>
        <div>{{currentevent.content}}</div>
        

    </div> 
    <img src="assets/am.png" />

  


    <mat-accordion class="mylayout">
      <mat-expansion-panel style="margin:100px 500px 0px 500px; background: #ca7171">
        <mat-expansion-panel-header>
          <mat-panel-title>
            

          </mat-panel-title>
          <mat-panel-description>
            <h3>REGISTER HERE</h3>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
          <ul>
          <li><input matInput placeholder="First name" [(ngModel)]='name' required></li>
          <li><input matInput  type="password" placeholder="password" [(ngModel)]='password' required></li>
          <li><button (click)="sub()" mat-raised-button class="btn btn-default">
            submit
          </button></li>
          
          <div *ngIf="clicked">
            <h4>Name:{{name}}</h4>
            <h5>Password:{{password}}</h5>
          </div>
          </ul>
      </mat-expansion-panel>
      
    </mat-accordion>
    
  </mat-drawer-container>

    
  