.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #f38d8d;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    float: right;
  }
  
  .example-sidenav {
    padding: 20px;
  }
 button{
     background: #ca7171;
 }
.container{
  background:#ca7171;
  padding:20px;
}
a{
  color:black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
img{
    padding-left: 600px;
    padding-top:50px;
    width: 500px
}
ul li{
  padding-top: 20px;
  list-style: none;
}
.mylayout{
  margin: 100px;
}
input{
  background: #f38d8d;
}