.buttons{
	padding: 30px;
	left: 200px;
	margin-left: 200px;
}
#b1{
	margin-right: 300px;
	border:0px;
	background: #e3e3e3;
}
#b2{
	border: 0px;
	background: #e3e3e3;
}
#b1,#b2{
	color: blue;
}
.header h1{
	text-align: center;
	float: left;
	padding-right: 300px;
}
ul li{
	display: inline;
	padding: 20px;
	float: left;
	padding-top: 30px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: aqua;
}
.frm h1{
	text-align: center;
	padding-top: 30px;
}
.frm li{
	padding:90px; 
	padding-top: 0px;
	padding-bottom: 30px;
}
.frm{
	background: #bdb574;
	padding: 0px;
}
form{
	overflow: hidden;
}
#submit{
	margin-left: 300px;
}
body{
	background: #e3e3e3;
}
