body{
	width: 400PX;
	margin: auto;
}
.myForm{
	padding: 35px;
	background-color: #85B7EA;
	border-radius: 10px;
	width: 400px;	
	margin: auto;
	margin-top: 10px;

}
.order{
	border: 2px solid rgba(0,0,0,0.5);
	padding: 15px;
}
#ordernow{
	padding: 8px;
	width: 100px;
	margin-left: 125px;
}
#add{
	padding: 5px;
	margin-top: 2px;

}