body{
	width: 960px;
	background-color: #D0D3D4;
	margin: auto;
	margin-top: 15px;
}
.image{
	width: inherit;
	height: 380px;
}
.leftform{
	margin-right: 2px;
	margin-top: 25px;
}
.i1{
	padding: 12px;
	border-radius: 10px;
	font-size: 12px;
	width: 280px;
}
h2{
	text-align: center;
}
.rightform{
	margin-left: 2px;
	margin-top: 25px;
}
textarea{
	width: 300px;
	margin-left: 2px;
}
#b1{
	padding: 8px;
	width: 120px;
	background-color: #1ABC9C;
	border-radius: 10px;
}