.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
 .result, .mycard{
      margin: 200px;
  }
 div{
   margin-left: 20px;
   margin-top: 20px;
 }
 